// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'

.file-input-label
  display: inline-block;

input[type="file"]
  display: none;

.page
  @extend .fade-transition

.container
  &.full-height
    height: 100%;
  .flex
    &.sticky-bottom
      position: absolute;
      bottom: 10px;

.guestPage
  .list
    &__tile
      &--avatar
        .avatar
          .letter
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            text-align: center;
            vertical-align: middle;
            border-radius: 50%;
            height: 48px;
            width: 48px;
          img
            height: 48px;
            width: 48px;
