// Specify overrides (theme and/or base variables etc.)
// See https://vuetifyjs.com/quick-start
$theme := {
  primary: #9C27B0
  accent: #CE93D8
  secondary: #607D8B
  info: #0D47A1
  warning: #FFB300
  error: #B71C1C
  success: #2E7D32
}
